.productCard {
    display: flex;
    color: rgb(107, 33, 56, 0.9);
    flex-flow: column nowrap;
    align-items: center;
    margin: 15px 5%;
}

.productCard:hover {
    color: rgb(247, 77, 77);
}

.productImg {
    border: 2px solid rgba(117, 38, 63, 0.7);
    border-radius: 5px;
    width: 95%;
}

.productName {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    height: 40px;
    overflow-y: hidden;
}

span {
    display: flex;
    color: rgb(26, 23, 23, 0.8);
    /* font-weight: 600; */
    margin-top: -30px
}

.priceSymbol {
    font-size: 14px;
    margin-top: 28px;
}

.priceNumber {
    font-size: 25px;
}
