main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px 20px 70px;
    font-size: 19px;
    height: 132px;
    overflow-y: scroll;
    scrollbar-color: #D1C360 white;
    scrollbar-width: thin;
}

.initialMessage {
    color: #6B2138;
    text-shadow: 1px 1px rgba(0,0,0,0.12);
    text-align: center;
    margin: 30px 10px 45px;
}

.aside {
    margin: 5px 10px;
}

.aside input[type="radio"] {
    accent-color: #6B2138;
    height: 7px;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 50px;
    max-width: 90%;
}

.cardLink {
    text-decoration: none;
    width: 190px;
}

footer {
    background-color: rgb(209, 195, 96, 0.8);
    border-top: 2px solid rgb(107, 33, 56, 0.6);
    color:rgb(107, 33, 56);
    text-align: center;
    font-weight: 500;
    height: 45px;
    margin-top: 40px;
    margin-bottom: 0;
}