.category {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 20px 20px 70px;
    font-size: 20px;
    height: 135px;
    overflow-y: scroll;
    scrollbar-color: #D1C360 white;
    scrollbar-width: thin;
}

.initialMessage {
    color: #6B2138;
    text-shadow: 1px 1px rgba(0,0,0,0.12);
    text-align: center;
    margin: 25px 10px 45px;
}

.aside {
    margin: 5px 10px;
}

.aside input[type="radio"] {
    accent-color: #6B2138;
    height: 7px;
}

.cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 0 50px;
}