.productDetailMain {
  min-height: 80.9vh;
}

.contentCase {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#productDetailImage {
  height: 17rem;
  object-fit: contain;
  margin: 10px 30px;
}

.productDetailSpecs {
  display: flex;
  flex-direction: column;
  max-width: 23rem;
}

.productDetailSpecs h3 {
  text-align: center;
  font-size: 18px;
}

#bottomInfo {
    display: flex;
}

#product-detail-price {
  display: flex;
  justify-content: space-between;
}
