.sideNav {
  background-color: rgb(107, 33, 56, 0.95);
  display: flex;
  flex-flow: column nowrap;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  overflow-y: scroll;
  min-width: 18%;
  scrollbar-color: #fcfced #6b2138;
  scrollbar-width: thin;
}

.navCloseBtn {
  align-self: baseline;
  background: none;
  border: none;
  margin: 20px 0 5px 10px;
  width: 25%;
}

#xIcon {
  height: 23px;
}

.category {
  color: #fcfced;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0 0 10px 5px;
  font-size: 17px;
  padding: 10px;
}

.aside {
  margin: 7px 5px;
}

.aside label:hover {
  text-decoration: underline;
}

.aside input[type="radio"] {
  appearance: none;
}
