@font-face {
  font-family: TitleFont;
  src: url("../images/Aurora.otf")
}

header {
  background-color: #D1C360;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: #6B2138 solid 4px;
  /* height */
  width: 100%;
}

.left-head {
  display: flex;
  margin: 0 0 -45px 20px;
}

#title {
  color: #6B2138;
  font-size: 50px;
  font-family: TitleFont;
}

/* #bags {
  height: 75px;
  margin: 0 10px 60px 0;
} */