form {
  display: flex;
  flex-direction: column;
}

.off {
  color: rgb(163, 163, 163);
}

.on {
  color: rgb(27, 27, 27);
}

.rateBtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
