.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.categories {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
  display: flex;
  flex-flow: column wrap;
  float: left;
  justify-content: center;
  margin: 20px 15px;
  min-width: 20%;
  padding: 15px;
  padding-left: 20px;
  position: relative;
}

.aside {
  margin: 1px 3px;
}

.category-radio {
  margin: 0 2px;
}

#productsCategory {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.main-card {
  margin: 20px 10px 30px;
  text-align: center;
  width: 22vw;
}

.m-card-header {
  margin: 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
