@font-face {
  font-family: Modestic Sans Bold;
  src: url("./fonts/ModesticSans-Bold.ttf") format('truetype');
}

@font-face {
  font-family: Metropolis;
  src: url("./fonts/metropolis.regular.otf") format('opentype');
}

html {
  background-color: rgb(243, 240, 215);
}

.body-container {
  font-family: Metropolis , serif;
  height: 100%;
  width: 100%;
}

.home-container {
  height: 100%;
  width: 100%;
}

main {
  margin-top: 10px;
  width: 100%;
}

.second-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.initialMessage {
  text-align: center;
  font-size: 18px;
  font-weight: 200;
  margin: 20px 22%;
}

.categories {
  background-color: rgb(252, 252, 239);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
  display: flex;
  flex-flow: column wrap;
  float: left;
  justify-content: center;
  margin: 20px 10px 20px 23px;
  padding: 15px;
  padding-left: 18px;
  position: relative;
  width: 20%;
}

.aside {
  margin: 1px 3px;
}

.radio-label span {
  cursor: pointer;
  font-size: 18px;
  left: 2px;
  position: relative;
  top: -5px;
}

.category-radio {
  accent-color: #d47d3b;
  cursor: pointer;
  height: 20px;
  margin: 0 2px;
}

#productsCategory, #card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 10px;
}

.card-link {
  color: inherit;
  text-decoration: none;
}

.main-card {
  background-color: rgb(252, 252, 239);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 16px 0px;
  margin: 10px 10px 30px;
  padding: 16px;
  text-align: center;
  width: 200px;
}

.main-card h3 {
  color: rgb(73, 73, 73);
  height: 26px;
  line-height: 18px;
  margin: 10px 0;
  overflow: hidden;
  padding: 10px 0;
  text-shadow: 1px 1px 1px rgba(247, 208, 171, 0.5);
}

.main-card img {
  border-radius: 10px;
  box-shadow: 1px 2px 3px 1px rgba(245, 168, 96, 0.3);
  width: 100%;
}

.main-card p {
  background-color: white;
  border: 1.8px solid rgb(255, 160, 76);
  color: rgb(255, 160, 76);
  border-radius: 10px;
  box-shadow: rgba(139, 134, 134, 0.15) 0px 8px 16px 0px;
  font-size: 17px;
  font-weight: 600;
  margin: 20px 27% 10px;
  padding: 7px;
  text-shadow: 1px 1px 1px rgb(211, 202, 202);
}

.main-card p span {
  font-size: 12px;
  left: -2px;
  position: relative;
  top: -3px;
}